*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1;
    background-image: url(./img/fundo\ portfolio.avif);
    color: whitesmoke;
}

ol, ul, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

header{
    display: flex;
    justify-content: start;
    margin: 15px;
}



.menu_lista_item{
    display: -webkit-inline-box;
    flex-direction: row;
    max-width: 1136px;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 2rem 0;
    text-align: center;
    justify-content: end;

    
}

.menu_lista{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.inicial_titulo img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 4px solid blue;
    align-items: center;
    float: right;
}

.inicial{
    font-size: 52px;
    font-weight: 700;
    padding: 3rem;
}

p{
    font-size: 32px;
    padding: 15px;
}

.bio_titulo{
    font-size: 32px;
    padding: 25px;
    margin: 15px;
}

.skills{
    max-width: 1136px;
    margin: 5,5 rem;
    margin-bottom: 5.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 80px;
}

.skills_titulo{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    flex-wrap: wrap;
}


.skills_box img{
    width: 32px;
    height: 37px;
    flex-wrap: wrap;
}

.skills_line{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.skills_box{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    background-color: white;
    padding: 1rem;
    width: 176px;
    height: 174px;
    flex-wrap: wrap;
}

.hobbies{
    max-width: 1136px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: 5;
   margin-bottom: 5rem;
   flex-wrap: wrap;
}

.hobbies_box{
    background-color: white;
    width: 176px;
    height: 174px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 23px;
    justify-content: end;
    flex-wrap: wrap;
}
.hobbies_titulo{
    font-size: 2rem;
    font-weight: 700;
    align-items: center;

}

.hobbies_box img{
    width: 32px;
    height: 37px;
    flex-wrap: wrap;
}

.formacao_container{
    max-width: 1446px;
    margin: 0;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
}

.formacao_titulo{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.formacao_curso{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 1440px;
    height: 581px;
    padding: 82px;
    flex-wrap: wrap;

}

.formacao_curso_lista{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.formacao img{
    width: 360px;
    height: 347px;
    gap: 8px;
}

.formacao_curso_item_img{
    width: 378px;
    height: 380px;
    font-size: 32px;
    text-align: center;
    flex-wrap: wrap;
}

.formacao_curso_item_titulo{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    flex-wrap: wrap;
}

.experiencia_container{
    max-width: 1446px;
    margin: 0;
    padding: 11rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-wrap: wrap;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.experiencia_container_projetos{
    width: 278px;
    height: 2it80px;
    font-size: 32px;
    text-align: center;
    flex-wrap: wrap;
    gap: 10px;
}


.contato{
    width: 467px;
    height: 24px;
    padding: 20px;
    flex-wrap: wrap;
}

.titulo_network {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    justify-content: center;
    padding: 15px;
    flex-wrap: wrap;
}

.titulo_network_item{
    width: 100px;
    height: 100px;
    justify-content: space-between;
    align-items: ;
}

.network {
    font-size: 32px;
    text-align: center;
    padding: 0;
    color: whitesmoke;
}   flex-wrap: wrap;

nav a:hover{
    color: whitesmoke;
}

.rodape{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    font-size: 52px;
    font-weight: 700;
    flex-wrap: wrap;
}